@model List<Edison.Models.Psychic>



<h2>Проверка экстрасенсов</h2>


<div id="psyarray" class="grid"></div>
<br />
<div id="playerarray">
    <p>Введите число: </p>
    <input id="inputnumber" type="number" name="number" min="10" , max="99" />
    <button onclick="testPsy()"> Проверить</button>
    <div id="error" class="error"></div>
    <p>История запросов:</p>
    <div id="playernumbers"> </div>
</div>

@section scripts
{
    
    <script>
        $(document).ready(function () {
            getPsychics();
            getPlayer();
        });
    </script>
}