@model List<Edison.Models.Psychic>

@{
    ViewBag.Title = "IndexNew";
}

<h2>Index</h2>


<div id="psyarray" class="grid"></div>

<div id="playerarray">
    <p>Введите число: </p>
    <input id ="inputnumber" type="text" name="number" value="00" />
    <button onclick ="testPsy()"> Проверить</button>
    <div id="playernumbers"></div>
</div>

@section scripts
{
    
    <script>
        $(document).ready(function () {
            getPsychics();
            getPlayer();
        });
    </script>
}